In [215]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv("train.csv", index_col = ["PassengerId"])

In [216]:
train.shape

(891, 11)

In [217]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [218]:
test = pd.read_csv("test.csv", index_col = ["PassengerId"])

In [219]:
test.shape

(418, 10)

In [220]:
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [221]:
train.loc[train["Sex"] == "male" , "Sex_encode"] = 0
train.loc[train["Sex"] == "female" , "Sex_encode"] = 1
test.loc[test["Sex"] == "male" , "Sex_encode"] = 0
test.loc[test["Sex"] == "female" , "Sex_encode"] = 1

In [222]:
train_embarked = pd.get_dummies(train["Embarked"], prefix = "Embarked")
test_embarked = pd.get_dummies(test["Embarked"], prefix = "Embarked")
train = pd.concat([train, train_embarked], axis = 1)
test = pd.concat([test, test_embarked], axis = 1)

In [223]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Name        891 non-null    object
 3   Sex         891 non-null    object
 4   Age         714 non-null    float64
 5   SibSp       891 non-null    int64
 6   Parch       891 non-null    int64
 7   Ticket      891 non-null    object
 8   Fare        891 non-null    float64
 9   Cabin       204 non-null    object
 10  Embarked    889 non-null    object
 11  Sex_encode  891 non-null    float64
 12  Embarked_C  891 non-null    uint8
 13  Embarked_Q  891 non-null    uint8
 14  Embarked_S  891 non-null    uint8
dtypes: float64(3), int64(4), object(5), uint8(3)
memory usage: 93.1+ KB

In [224]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Name        418 non-null    object
 2   Sex         418 non-null    object
 3   Age         332 non-null    float64
 4   SibSp       418 non-null    int64
 5   Parch       418 non-null    int64
 6   Ticket      418 non-null    object
 7   Fare        417 non-null    float64
 8   Cabin       91 non-null     object
 9   Embarked    418 non-null    object
 10  Sex_encode  418 non-null    float64
 11  Embarked_C  418 non-null    uint8
 12  Embarked_Q  418 non-null    uint8
 13  Embarked_S  418 non-null    uint8
dtypes: float64(3), int64(3), object(5), uint8(3)
memory usage: 40.4+ KB

In [225]:
mean_fare = train["Fare"].mean()
test.loc[pd.isnull(test["Fare"]), "Fare"] = mean_fare

In [226]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Name        418 non-null    object
 2   Sex         418 non-null    object
 3   Age         332 non-null    float64
 4   SibSp       418 non-null    int64
 5   Parch       418 non-null    int64
 6   Ticket      418 non-null    object
 7   Fare        418 non-null    float64
 8   Cabin       91 non-null     object
 9   Embarked    418 non-null    object
 10  Sex_encode  418 non-null    float64
 11  Embarked_C  418 non-null    uint8
 12  Embarked_Q  418 non-null    uint8
 13  Embarked_S  418 non-null    uint8
dtypes: float64(3), int64(3), object(5), uint8(3)
memory usage: 40.4+ KB

In [227]:
train = train.drop(["Sex","Embarked","Cabin", "Name", "Age","Ticket"], axis = 1, errors = 'ignore')
test = test.drop(["Sex","Embarked","Cabin", "Name", "Age", "Ticket"], axis = 1, errors = 'ignore')

In [228]:
from sklearn.tree import DecisionTreeClassifier

In [229]:
y_train = train["Survived"]
feature_names = ['Pclass', 'Fare', 'Sex_encode', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()

             Pclass     Fare  Sex_encode  Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                 3   7.2500         0.0           0           0           1
2                 1  71.2833         1.0           1           0           0
3                 3   7.9250         1.0           0           0           1
4                 1  53.1000         1.0           0           0           1
5                 3   8.0500         0.0           0           0           1

In [230]:
y_train.head()

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [231]:
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier()

In [232]:
pred = clf.predict(x_test)
pred.shape

(418,)

In [233]:
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()

(418, 1)

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1

In [234]:
submission.to_csv("baseline-script.csv")

In [235]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

x, y = train[feature_names], train.Survived
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [236]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [237]:
for i in range(1, 11):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(x_train, y_train)
    print("k가", i, "일 때 정확도 : {0:.4f}".format(knn.score(x_test, y_test)))

k가 1 일 때 정확도 : 0.7351
k가 2 일 때 정확도 : 0.7500
k가 3 일 때 정확도 : 0.7463
k가 4 일 때 정확도 : 0.7724
k가 5 일 때 정확도 : 0.7612
k가 6 일 때 정확도 : 0.7724
k가 7 일 때 정확도 : 0.7500
k가 8 일 때 정확도 : 0.7425
k가 9 일 때 정확도 : 0.7239
k가 10 일 때 정확도 : 0.7239

In [238]:
print("knn score : {0:.4f}".format(knn.score(x_test, y_test)))

knn score : 0.7239

In [239]:
y_train = train["Survived"]
feature_names = ['Pclass', 'Sex_encode', 'Fare', 'SibSp', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()

,Pclass,Sex_encode,Fare,SibSp,Parch,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,
1,3,0.0,7.2500,1,0,0,0,1
2,1,1.0,71.2833,1,0,1,0,0
3,3,1.0,7.9250,0,0,0,0,1
4,1,1.0,53.1000,1,0,0,0,1
5,3,0.0,8.0500,0,0,0,0,1

In [240]:
feature_names = ['Pclass', 'Sex_encode', 'Fare', 'SibSp']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()

             Pclass  Sex_encode     Fare  SibSp
PassengerId
1                 3         0.0   7.2500      1
2                 1         1.0  71.2833      1
3                 3         1.0   7.9250      0
4                 1         1.0  53.1000      1
5                 3         0.0   8.0500      0

In [241]:
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape

(418,)

In [242]:
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script1.csv")

(418, 1)

In [243]:
feature_names = ['Pclass', 'Sex_encode', 'Fare', 'Parch']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script2.csv")

(418, 1)

In [244]:
feature_names = ['Pclass', 'Sex_encode', 'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script3.csv")

(418, 1)

In [245]:
feature_names = ['Pclass', 'Sex_encode', 'SibSp', 'Parch']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script4.csv")

(418, 1)

In [246]:
feature_names = ['Pclass', 'Sex_encode', 'SibSp', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script5.csv")

(418, 1)

In [247]:
feature_names = ['Pclass', 'Sex_encode', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script6.csv")

(418, 1)

In [248]:
feature_names = ['Pclass', 'Fare', 'SibSp', 'Parch']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script7.csv")

(418, 1)

In [249]:
feature_names = ['Pclass', 'Fare', 'SibSp', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script8.csv")

(418, 1)

In [250]:
feature_names = ['Pclass', 'Fare', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script9.csv")

(418, 1)

In [251]:
feature_names = ['Pclass', 'SibSp', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script10.csv")

(418, 1)

In [252]:
feature_names = ['Sex_encode', 'Fare', 'SibSp', 'Parch']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script11.csv")

(418, 1)

In [253]:
feature_names = ['Sex_encode', 'Fare', 'SibSp', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script12.csv")

(418, 1)

In [254]:
feature_names = ['Sex_encode', 'Fare', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script13.csv")

(418, 1)

In [255]:
feature_names = ['Sex_encode', 'SibSp', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script14.csv")

(418, 1)

In [256]:
feature_names = ['Fare', 'SibSp', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x_train = train[feature_names]
x_test = test[feature_names]
x_train.head()
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
pred.shape
submission = pd.read_csv("gender_submission.csv", index_col="PassengerId")

submission["Survived"] = pred.astype(np.int32)

print(submission.shape)
submission.head()
submission.to_csv("baseline-script15.csv")

(418, 1)

In [257]:
from sklearn import feature_selection
from sklearn.feature_selection import SelectPercentile

In [258]:
feature_names = ['Pclass', 'Sex_encode', 'Fare', 'SibSp', 'Parch', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
x, y = train[feature_names], train.Survived
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [259]:
fs = SelectPercentile(feature_selection.chi2, percentile = 50)
x_train_p = fs.fit_transform(x_train, y_train)
x_train.columns [fs.get_support()]

Index(['Pclass', 'Sex_encode', 'Fare', 'Embarked_C'], dtype='object')